@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
}

body, html {
    background-color: #1B1826;
    height: 100dvh;
    width: 100vw;
    
}

main {
   position: relative;
   height: 100dvh;
   width: 100vw; 

}

section#cadastro {
    background-color: #574F73;
    height: 500px;
    width: 280px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
    
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute; 

}

h1 {
    font-family: fantasy;
    color: #07F285;
    margin-top: 15px;
    text-align: center;
    font-size: 42px;
  
}

.informações {
    margin: 20px;
    margin-top: 10px;
    color: white;

}

input {
    height: 32px;
    width: 100%;
    border-radius: 10px;
    border-style: solid;
    border: 1px solid #1B1826;
}

.confirm {
    background-color: #07F285;
    margin-bottom: 15px;
    font-size: 17px;
}

.limpar {
   color: #078349;
   font-size: 17px;

} 

input:hover {
   border: 2px solid white;
}

.limpar:hover {
   border: 2px solid #07F285;
}

p {
    text-align: center;
    color: white;
    margin-top: 13px;
}

p > a {
    text-decoration: none;
    text-align: center;
    color: #07F285;
}

p > a:hover {
    text-decoration: underline;
}

#error {
   text-align: center;
   color: #ff0000;
   background-color: #ffbbbb;
   padding: 16px;
   border-radius: 4px;
   width: 70%;
   margin: auto;
   display: none;

}

#succes {
    text-align: center;
    color: #04522d;
    background-color: #07F285;
    padding: 16px;
    border-radius: 4px;
    width: 70%;
    margin: auto;
    display: none;
       
} 